<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title>upload file you want</title>
</head>
<body>
    <h3>请上传您的文件</h3>
    <form action="/" enctype="multipart/form-data" method="post">
        <p><b>please input your file 1 :</b> <input type="file" name="files" /></p>
        <p><b>please input your file 2 :</b> <input type="file" name="files" /></p>
        <p><b>please input your file 3 :</b> <input type="file" name="files" /></p>
        <input type="submit" value="提交" />

    </form>
</body>
</html>